<!--Footer-->
<footer class="p-4 p-sm-5">
    <div class="container text-center">
      <div class="text-center small mb-3 text-muted">
        <a href="javascript:void(0)" class="text-muted mr-3">Terms of use</a>
        <a href="javascript:void(0)" class="text-muted mr-3">Privacy policy</a>
        <a href="javascript:void(0)" class="text-muted mr-3">Support</a>
        <a href="javascript:void(0)" class="text-muted mr-3">Contact</a>
        <br />
        ©  All rights reserved.
      </div>
    </div>
  </footer>