/* You can add global styles to this file, and also import other style files */
// @import "~bootstrap/dist/css/bootstrap.css";
// @import "../node_modules/font-awesome/scss/font-awesome.scss";
/* You can add global styles to this file, and also import other style files */
$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";

@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~perfect-scrollbar/css/perfect-scrollbar.css";

body {
  font-size: 0.9rem;
}
.cursor-pointer {
  cursor: pointer !important;
}
